<h1>Personnages</h1>
<mat-card class="mat-elevation-z8" *ngFor="let character of characters$ | async">
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile>
        <div class="mat-card-picture">
          <img src="http://placehold.it/200">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="mat-card-description">
          <div class="title mat-display-1">
            {{character.prenom + ' ' + character.nom}}
          </div>
          <div class="resume">
            <mat-chip-list>
              <mat-chip color="primary">{{character.famille}}</mat-chip>
              <mat-chip 
              [ngClass]="{'alive': character.statut === 'vivant', 'dead': character.statut === 'mort'}">
              {{character.statut}}
            </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-action>
    <button mat-fab color="primary" (click)="details(character)"><mat-icon arial-label="See more">keyboard_arrow_right</mat-icon></button>
  </mat-card-action>
</mat-card>