mat-card
    margin: 10px 20px

    &-content
        width: 100%

    &-header
        color: red

    &-action
        position: absolute
        right: 5px
        bottom: 5px

mat-grid-tile mat-figure
    justify-content: start

.alive 
    background-color: lightgreen
    color: white

.dead
    background-color: rgb(237, 87, 49)
    color: white